{%extends 'file_application/common/base.html' %}

{%block body%}

  <div class="container-fluid p-5">
      <div class="container border border-secondary p-4">
        <form method="POST">
            <fieldset>
                {%csrf_token%}
              <legend>Login Form</legend>
              {%if error %}
              <div class="mb-3">
                  <p class="text-danger">{{error}}</p>
              </div>
              {%endif%}
              <div class="mb-3">
                <label for="username" class="form-label">User-Name</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="username">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="username">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </fieldset>
          </form>
      </div>
  </div>

{%endblock%}