{%extends 'file_application/common/base.html' %}

{%block body%}

  <div class="container-fluid p-5">
      <div class="container border border-secondary p-4">
        <form method="POST">
            {%csrf_token%}
            {% for field in form %}
                <div class="col-md-12">
                    {%if field.errors%}
                    {%for er in field.errors %}
                    <p class="text-danger">{{er}}</p>
                    {%endfor%}
                    {%endif%}
                    {{ field.label_tag }} 
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success mt-5">Create User</button>
          </form>
      </div>
  </div>

{%endblock%}